* {
    color: #033f02;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(253, 251, 251);
}

.header {
    background-color: #002a00;
    text-align: center;
    padding-top: 1px;
    margin: auto;
}

.header h1 {
    color: white;
    font-style: italic;
}


.align {
    display: inline-block;
}

.photoname img {
    margin-top: auto;
    width: 250px;
}


.photoname {
    display: inline-block;
}

.bio {
    display: inline-block;
    margin: auto;
    padding-left: 10px;
}


.footer {
    background-color: darkgreen;
    color: white;
    font-size: 30px;
}


.learnedlist {
    display: inline-block;
    padding-right: 50px;
    
}

.tolearnlist {
    display: inline-block;
}